<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="au.com.langdale.cimtoole.model_parser">
      <parser
            class="com.cimphony.cimtoole.ecore.EcoreExtractor"
            fileExt="ecore"
            id="com.cimphony.cimtoole.ecore_parser"
            name="Ecore Parser">
      </parser>
      <parser
            class="com.cimphony.cimtoole.ecore.EcoreRegistryExtractor"
            fileExt="ecore-registry"
            id="com.cimphony.cimtoole.ecore_registry_parser"
            name="Ecore Registry Parser">
      </parser>
   </extension>


   <extension
         point="au.com.langdale.cimtoole.profile_buildlet">
      <buildlet
            class="com.cimphony.cimtoole.buildlet.EcoreBuildlet"
            id="com.cimphony.cimtoole.ecore_buildlet"
            name="Ecore Buildlet">
      </buildlet>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="au.com.langdale.cimtoole"
            class="com.cimphony.cimtoole.wizards.ExportEcore"
            icon="icons/package-ecore.png"
            id="com.cimphony.cimtoole.wizards.ExportEcore"
            name="Export merged schema as Ecore">
      </wizard>
   </extension>
      <extension
         point="org.eclipse.ui.importWizards">
         <wizard
            category="au.com.langdale.cimtoole"
            class="com.cimphony.cimtoole.wizards.ImportRegistrySchema"
            icon="icons/package-ecore.png"
            id="com.cimphony.cimtoole.wizards.ImportRegistrySchema"
            name="Import Schema from Registry">
      </wizard>
   </extension>
   
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="au.com.langdale.cimtoole.editors.InfoModelEditor"
            extensions="ecore, ecore-registry"
            icon="icons/package-ecore.png"
            id="au.com.langdale.cimtoole.editors.InfoModelEditorEcore"
            name="Model Browser">
      </editor>
   </extension>
   </plugin>
