*.class
bin/
*~
*.pyc
.metadata
Assembly
CIMToolUpdate/features
CIMToolUpdate/plugins
CIMToolUpdate/artifacts.jar
CIMToolUpdate/content.jar
CIMToolUpdate/*.zip
CIMToolCheck/*.zip
boto
botoscripts
CIMToolPlugin/console.log
.scala_dependencies
bin
.settings
.directory
CIMToolPlugin/.asciidoctorconfig.adoc
