<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="au.com.langdale.cimtoole.profile_buildlet" name="CIMTool Profile Buildlets" schema="schema/profile_buildlet.exsd"/>
   <extension-point id="au.com.langdale.cimtoole.model_parser" name="CIMTool Model Parsers" schema="schema/model_parser.exsd"/>

   <extension
         id="CIMBuilder"
         name="CIM Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="au.com.langdale.cimtoole.builder.CIMBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="CIMNature"
         name="CIM Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="au.com.langdale.cimtoole.CIMNature">
         </run>
      </runtime>
      <builder
            id="au.com.langdale.cimtoole.CIMBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="au.com.langdale.cimtoole.contribution1">
         <action
               class="au.com.langdale.cimtoole.actions.ToggleNatureAction"
               enablesFor="+"
               icon="icons/icon.png"
               id="au.com.langdale.cimtoole.addRemoveNatureAction"
               label="Add/Remove CIM Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="au.com.langdale.cimtoole.contribution2"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="New Submenu"
               path="additions"
               id="au.com.langdale.cimtoole.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="au.com.langdale.cimtoole.popup.actions.NewAction"
               menubarPath="au.com.langdale.cimtoole.menu1/group1"
               enablesFor="1"
               id="au.com.langdale.cimtoole.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="problem"
         name="CIMTool Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="CIMTool"
            id="au.com.langdale.cimtoole">
      </category>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportProfile"
            icon="icons/catalog.png"
            id="au.com.langdale.cimtoole.wizards.ImportProfile"
            name="Import Profile">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportSpreadsheet"
            icon="icons/spreadsheet.png"
            id="au.com.langdale.cimtoole.wizards.ImportSpreadsheet"
            name="Import Spreadsheet as Profile">
         <description>
            A wizard that will glean a list of classes and properties from a spreadsheet and construct a profile from them.
         </description>
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportRuleset"
            icon="icons/rules.png"
            id="au.com.langdale.cimtoole.wizards.ImportRuleset"
            name="Import Validation Rules">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportHTMLRules"
            icon="icons/html.png"
            id="au.com.langdale.cimtoole.wizards.ImportHTMLRules"
            name="Import HTML Rules">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportMultiLineCopyrightTemplate"
            icon="icons/copyright.png"
            id="au.com.langdale.cimtoole.wizards.ImportMultiLineCopyrightTemplate"
            name="Import Copyright Template (multiline)">
      	<description>
            A wizard for importing a multiline copyright template to be used in relevant profiles for a given project.
		</description>
      </wizard>      
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportSingleLineCopyrightTemplate"
            icon="icons/copyright.png"
            id="au.com.langdale.cimtoole.wizards.ImportSingleLineCopyrightTemplate"
            name="Import Copyright Template (single-line)">
      	<description>
            A wizard for importing a single-line copyright template to be used in relevant profiles for a given project.
		</description>
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportTransformBuilder"
            icon="icons/xsd.png"
            id="au.com.langdale.cimtoole.wizards.ImportTransformBuilder"
            name="Import XSLT Transform Builder">
      	<description>
            A wizard for importing custom profile builders based on XSLT transforms.
		</description>
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportXSDRules"
            icon="icons/xsd.png"
            id="au.com.langdale.cimtoole.wizards.ImportXSDRules"
            name="Import XML Schema Rules">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportModel"
            icon="icons/individuals.png"
            id="au.com.langdale.cimtoole.wizards.ImportModel"
            name="Import Model (CIM/XML file)">
         <description>
            Import a CIM/XML instance that conforms to a given profile.
         </description>
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportIncremental"
            icon="icons/individuals.png"
            id="au.com.langdale.cimtoole.wizards.ImportIncremental"
            name="Import Incremental CIM/XML file">
         <description>
            Import an incremental CIM/XML model that conforms to a given base model.
         </description>
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportSchema"
            icon="icons/package.png"
            id="au.com.langdale.cimtoole.wizards.ImportSchema"
            name="Import Schema">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ImportIncRuleset"
            icon="icons/rules.png"
            id="au.com.langdale.cimtoole.wizards.IncImportRuleset"
            name="Import Incremental Validation Rules">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="au.com.langdale.cimtoole.editors.InfoModelEditor"
            extensions="xmi,simple-owl,merged-owl,eap"
            icon="icons/package.png"
            id="au.com.langdale.cimtoole.editors.InfoModelEditor"
            name="Model Browser">
      </editor>
      <editor
            class="au.com.langdale.cimtoole.editors.ProfileEditor"
            extensions="owl"
            icon="icons/catalog.png"
            id="au.com.langdale.cimtoole.editors.MessageModelEditor"
            name="Profile Editor">
      </editor>
      <editor
            class="au.com.langdale.cimtoole.editors.DiagnosisEditor"
            extensions="diagnostic"
            icon="icons/general.png"
            id="au.com.langdale.cimtoole.editors.DiagnosisEditor"
            name="Diagnostic Browser">
      </editor>
      <editor
            class="au.com.langdale.cimtoole.editors.RepairEditor"
            extensions="repair"
            icon="icons/general.png"
            id="au.com.langdale.cimtoole.editors.RepairEditor"
            name="Profile Repair Editor">
      </editor>
      <editor
            class="au.com.langdale.cimtoole.editors.MappingEditor"
            extensions="mapping-ttl,mapping-owl"
            icon="icons/equiv.png"
            id="au.com.langdale.cimtoole.editors.MappingEditor"
            name="Mapping Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="CIMTool"
            id="au.com.langdale.cimtoole">
      </category>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.NewProject"
            icon="icons/icon.png"
            id="au.com.langdale.cimtoole.wizards.NewProject"
            name="CIMTool Project"
            project="true">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.NewProfile"
            icon="icons/catalog.png"
            id="au.com.langdale.cimtoole.wizards.NewProfile"
            name="CIMTool Profile">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.NewRuleset"
            icon="icons/rules.png"
            id="au.com.langdale.cimtoole.wizards.NewRuleset"
            name="CIMTool Validation Rules">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.NewHTMLRules"
            icon="icons/html.png"
            id="au.com.langdale.cimtoole.wizards.NewHTMLRules"
            name="CIMTool HTML Rules">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.NewXSDRules"
            icon="icons/xsd.png"
            id="au.com.langdale.cimtoole.wizards.NewXSDRules"
            name="CIMTool XML Schema Rules">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.NewIncRuleset"
            icon="icons/rules.png"
            id="au.com.langdale.cimtoole.wizards.NewIncRuleset"
            name="CIMTool Incremental Validation Rules">
      </wizard>
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.NewMappings"
            icon="icons/equiv.png"
            id="au.com.langdale.cimtoole.wizards.NewMappings"
            name="CIMTool Mappings">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="CIMTool"
            class="au.com.langdale.cimtoole.preferences.PreferencePage"
            id="au.com.langdale.cimtoole.preferences.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="au.com.langdale.cimtoole.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="au.com.langdale.cimtoole.properties.PropertyPage"
            icon="icons/package.png"
            id="au.com.langdale.cimtoole.properties.samplePropertyPage"
            name="CIMTool"
            objectClass="org.eclipse.core.resources.IResource">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CIMTool"
            id="au.com.langdale.cimtoole">
      </category>
      <view
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.views.ProjectModelView"
            icon="icons/package.png"
            id="au.com.langdale.cimtoole.views.ProjectModelView"
            name="Project Model">
      </view>
      <view
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.views.ValidationView"
            icon="icons/validate.png"
            id="au.com.langdale.cimtoole.views.ValidationView"
            name="Validation Projects">
      </view>
      <view
            allowMultiple="false"
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.views.DocView"
            icon="icons/note.png"
            id="au.com.langdale.cimtoole.views.Documentation"
            name="Documentation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="au.com.langdale.cimtoole.CIMToolPerspective"
            icon="icons/icon.png"
            id="au.com.langdale.cimtoole.CIMToolPerspective"
            name="CIMTool">
      </perspective>
      <perspective
            class="au.com.langdale.cimtoole.ValidationPerspective"
            icon="icons/validate.png"
            id="au.com.langdale.cimtoole.ValidationPerspective"
            name="Validation">
      </perspective>
      <perspective
            class="au.com.langdale.cimtoole.CIMToolBrowsingPerspective"
            icon="icons/search.png"
            id="au.com.langdale.cimtoole.CIMToolBrowsingPerspective"
            name="Browsing">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="au.com.langdale.cimtoole.CIMToolActions"
            label="CIMTool"
            visible="false">
         <action
               class="au.com.langdale.cimtoole.actions.ImportIncrementalAction"
               icon="icons/incremental.png"
               id="au.com.langdale.cimtoole.actions.ImportIncrementalAction"
               label="Import Incremental Model"
               style="push"
               toolbarPath="cimtool"
               tooltip="Import and validate an incremental model.">
         </action>
         <action
               class="au.com.langdale.cimtoole.actions.ImportModelAction"
               icon="icons/individuals.png"
               id="au.com.langdale.cimtoole.actions.ImportModelAction"
               label="Import Model"
               style="push"
               toolbarPath="cimtool"
               tooltip="Import and validate a model.">
         </action>
         <action
               class="au.com.langdale.cimtoole.actions.ImportProfileAction"
               icon="icons/catalog.png"
               id="au.com.langdale.cimtoole.actions.ImportProfileAction"
               label="Import Profile"
               toolbarPath="cimtool"
               tooltip="Import a profile in OWL format.">
         </action>
         <action
               class="au.com.langdale.cimtoole.actions.ImportSchemaAction"
               icon="icons/package.png"
               id="au.com.langdale.cimtoole.actions.ImportSchemaAction"
               label="Import Schema"
               toolbarPath="cimtool"
               tooltip="Import a schema in XMI format.">
         </action>
         <action
               class="au.com.langdale.cimtoole.actions.ImportTransformBuilderAction"
               icon="icons/xsd.png"
               id="au.com.langdale.cimtoole.actions.ImportTransformBuilderAction"
               label="Import XSLT Transform Builder"
               toolbarPath="cimtool"
               tooltip="Import an XSLT transform builder.">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="au.com.langdale.cimtoole.views.ValidationActions"
            targetID="au.com.langdale.cimtoole.views.ValidationView">
         <action
               class="au.com.langdale.cimtoole.actions.CleanupAction"
               icon="icons/minus.png"
               id="au.com.langdale.cimtoole.views.CleanupAction"
               label="Cleanup models"
               toolbarPath="toolbar"
               tooltip="Remove validation results and previously imported models.">
         </action>
         <action
               class="au.com.langdale.cimtoole.actions.ImportModelAction"
               icon="icons/plus.png"
               id="au.com.langdale.cimtoole.views.ImportModelAction"
               label="Import a model"
               style="push"
               toolbarPath="toolbar"
               tooltip="Import a model to be validated.">
         </action>
         <action
               class="au.com.langdale.cimtoole.actions.ImportIncrementalAction"
               icon="icons/plusinc.png"
               id="au.com.langdale.cimtoole.views.ImportModelAction"
               label="Import Incremental"
               style="push"
               toolbarPath="toolbar"
               tooltip="Import an incremental model to be validated.">
         </action>
      </viewContribution>
      <viewContribution
            id="au.com.langdale.cimtoole.views.ProjectActions"
            targetID="au.com.langdale.cimtoole.views.ProjectModelView">
         <action
               class="au.com.langdale.cimtoole.actions.SearchAction"
               icon="icons/search.png"
               id="au.com.langdale.cimtoole.actions.SearchAction"
               label="Search"
               toolbarPath="cimtool"
               tooltip="Search the project model for a class or property.">
         </action>
         <action
               class="au.com.langdale.cimtoole.actions.JumpAction"
               icon="icons/functional.png"
               id="au.com.langdale.cimtoole.actions.JumpAction"
               label="Jump"
               toolbarPath="cimtool"
               tooltip="Jump to the other end of a relationship.">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.text"
            file-extensions="xml-log">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="au.com.langdale.cimtoole"
            class="au.com.langdale.cimtoole.wizards.ExportSchema"
            icon="icons/package.png"
            id="au.com.langdale.cimtoole.wizards.ExportSchema"
            name="Export merged schema">
      </wizard>
      <category
            id="au.com.langdale.cimtoole"
            name="CIMTool">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            class="au.com.langdale.cimtoole.compare.ModelStructureCreator"
            extensions="owl,xmi"
            id="au.com.langdale.cimtoole.ModelStructureCreator">
      </structureCreator>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="au.com.langdale.cimtoole.compare.ModelDiffViewerCreator"
            extensions="owl,xmi"
            id="au.com.langdale.cimtoole.ModelDiffViewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="au.com.langdale.jena.TreeModelBase$Node"
            class="au.com.langdale.cimtoole.properties.PropertySupport">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
