
#logo { display: none; }
#illust { display: none ; }
#footer { display: none ; } 

h1, h2 {
font-family: Arial, sans-serif;
margin-left:-5mm;
}
h3 {
font-family: Arial, sans-serif;
}
dt, dd, p, li {
font-family: "Trebuchet MS", serif;
}
pre {
color:darkMagenta;
margin-left:1em;
border: 1px solid #d7d7d7;
overflow: auto;
padding: .25em;
}
dt {
margin-top:1em;
}
code {
color:darkMagenta;
}
body {
margin:1cm;
}
:link {
color:red;
text-decoration:underline;
}
.wiki-toc ol { list-style: disc; }

table.wiki {
 border: 2px solid #ccc;
 border-collapse: collapse;
 border-spacing: 0;
}
table.wiki td { border: 1px solid #ccc;  padding: .1em .25em; }
