<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CIMTool 1.10.0.RC2">
         <property
               name="windowImages"
               value="icon-16.png,icon-32.png,icon-48.png,icon-64.png">
         </property>
         <property
               name="aboutText"
               value="CIMTool is an open source tool that supports the Common Information Model (CIM) standards &#x0A;used in the electric power industry.  It is potentially useful for other semantic applications too.">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,300,500,20">
         </property>
         <property
               name="startupMessageRect"
               value="50,260,400,20">
         </property>
         <property
               name="appName"
               value="CIMTool 1.10.0.RC2">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
      </product>
   </extension>

</plugin>
