<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="product"
         name="CIMTool"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CIMTool">
          <property name="appName" value="CIMTool"/>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
          <property
                name="aboutImage"
                value="eclipse_lg.gif">
          </property>
          <property
                name="aboutText"
                value="This is CIMTool">
          </property>
          <property
                name="windowImages"
                value="eclipse.gif,eclipse32.gif,eclipse48.gif">
          </property>
          <property
                name="startupForegroundColor"
                value="7F7F7F">
          </property>
          <property
                name="startupMessageRect"
                value="225,190,210,20">
          </property>
          <property
                name="startupProgressRect"
                value="225,210,210,20">
          </property>
         
      </product>
   </extension>

</plugin>
